<a href="https://colab.research.google.com/github/camilasaldivar/HHA-504-E2E/blob/main/e2e.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

In [ ]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 2.1 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [ ]:
df= pd.read_csv('H1N1_Flu_Vaccines.csv')

In [ ]:
df

       respondent_id  h1n1_concern  ...  h1n1_vaccine  seasonal_vaccine
0                  0           1.0  ...             0                 0
1                  1           3.0  ...             0                 1
2                  2           1.0  ...             0                 0
3                  3           1.0  ...             0                 1
4                  4           2.0  ...             0                 0
...              ...           ...  ...           ...               ...
26702          26702           2.0  ...             0                 0
26703          26703           1.0  ...             0                 0
26704          26704           2.0  ...             0                 1
26705          26705           1.0  ...             0                 0
26706          26706           0.0  ...             0                 0

[26707 rows x 38 columns]

In [ ]:
df= pd.read_csv('H1N1_Flu_Vaccines.csv')

MYSQL_HOSTNAME = '44.195.69.52'
MYSQL_USER = 'DBA'
MYSQL_PASSWORD = 'ahi2021'
MYSQL_DATABASE = 'e2e'

In [ ]:
connection_string = f'mysql+pymysql://{MYSQL_USER}:{MYSQL_PASSWORD}@{MYSQL_HOSTNAME}:3306/{MYSQL_DATABASE}'
engine = create_engine(connection_string)

In [ ]:
TABLENAME = 'H1N1'

In [ ]:
df.to_sql(TABLENAME, con=engine)